
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/************************ 
    Basic Css Setup Here
*************************/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}


/************************ 
    Header Part Start
*************************/
.header{
    width: 100%;
    background-color: #101620;
    display: flex;
}

.header-left{
    padding: 10px 15px;
    background-color: #1D2939;
    text-align: center;
    width: 25%;
}

.header-left .user h3{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}

.header-left .user img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px 0;
}

.header-left .user p{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    line-height: 20px;
    font-size:14px;
}

.header-left .user ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.header-left .user ul li a {
    width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6EBD97;
    padding: 8px;
    border-radius: 50%;
    transition: .4s;
    color: #fff;
    font-size: 16px;
    display: inline-block;
}
.header-left .user-menu ul li a{
    color: #fff;
    cursor: pointer;
}

.header-left .user ul li a:hover{
    background-color: #fff;
    color: #6EBD97;
}

.header-left .user ul li a:hover i {
    color: #6EBD97;
}

.header-left hr{
    height: 1px;
    border: 1px solid #263141;
}

.header-left .user-menu ul{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 5px 30px;
}

.header-left .user-menu ul li{
    margin: 8px 0;
}
.header-left .user-menu ul li i{
    margin-right: 10px;
    font-size: 18px;
    text-align: left;
    transition: .5s;
}
.header-left .user-menu ul li a{
    transition: .5s;
}

.header-left .user-menu ul li:last-child a i.more-right{
    margin: 0 0px 0px 10px;
}

.header-left .user-menu ul li a.active, .header-left .user-menu ul li a.active i{
    color: #6EBD97;
}

.header-left .user-menu ul li:hover a, .header-left .user-menu ul li:hover a i{
    color: #6EBD97;
}

.header-left button{
    background-color: #6EBD97;
    border: none;
    overflow: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    cursor: pointer;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.header-left .user-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}

.header-right{
    width: 75%;
}
.header-right .about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 0 30px;
}

.header-right .about-us .user-info{
    width: 60%;
}
.header-right .about-us .user-info h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    line-height: 60px;
}
.header-right .about-us .user-info h4{
    font-size: 20px;
    font-weight: 700;
    color: #8E9094;
    text-transform: capitalize;
    line-height: 30px;
    height: 30px;
}
.header-right .about-us .user-info h4 span{
    font-size: 24px;
    font-weight: 700;
    color: #6EBD97;
    text-transform: capitalize;
    line-height: 30px;
}
.header-right .about-us .user-info p{
    font-size: 16px;
    color: #8d9194;
    margin-top: 10px;
    font-weight: 300;
    text-align: justify;
    width: 100%;
}
.header-right .about-us .user-info .user-btn{
    margin-top: 25px;
}
.header-right .about-us .user-info .user-btn a{
    background-color: #6EBD97;
    border: none;
    overflow: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.header-right .about-us .user-info .user-btn a i{
    margin-right: 10px;
}
.header-right .about-us .user-info .user-btn a:last-child{
    background-color: #2D435C;
}
.header-right .about-us .user-photo{
   width: 40%;
}

.header-right .about-us .user-photo img{
    width: 100%;
    border-radius: 8px;
}
.port-content{
    padding: 35px;
}

.header-right hr{
    height: 1px;
    border: 1px solid #263141;
}
.blog .blog-img{
    height: 280px;
}
.blog .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .fre-img-logo{
    display: flex;
    gap: 10px;
    height: 30px;
}

.about h5{
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    text-transform: capitalize;
    margin: 0px;
    font-weight: 600;
}

.about p{
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    width: 100%;
    color: #b4b1b1;
}

.resume iframe{
    width: 100%;
    height: 630px;
}
.protfoli > h2{
    font-size: 45px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}
.protfolio .protfolio-warp{
    margin-top: 20px;
}
.protfolio .protfolio-warp .prot-img{
    height: 220px;
}
.protfolio .protfolio-warp .prot-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.protfolio .protfolio-warp .prot-content h5 a{
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 10px;
}
.protfolio .protfolio-warp .prot-content p{
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: #b4b1b1;
}
.blog .blog .blog-content h3{
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 10px;
}
.blog .blog .blog-content p{
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: #b4b1b1;
}
.about-me{
    width: 100%;
}
.mobile-menu{
    margin-top: 40px;
}

.mobile-menu .nav{
    display: flex;
    gap: 20px;
}

.mobile-menu .nav li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #6EBD97;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.mobile-menu .nav li a:hover{

}

.mobile-menu .nav li a i {
    color: #fff;
}
.mobile-menu{
    display: none;
}

.contact .contact-form form label{
    margin-top: 15px;
    font-size: 18px;
}
.contact .contact-form form input, .contact .contact-form form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    border-radius: 8px;
    border: 1px solid #6EBD97;
    outline: none;
    background-color: transparent;
}
.contact .contact-form form textarea{
    height: 120px;
}
.user-f-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-f-name .user-f{
    width: 48%;
}
.user-f-name .user-l{
    width: 48%;
}

.contact .contact-form form button{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6EBD97;
    outline: none;
    background-color: transparent;
    margin: 25px auto 0px;
    color: #fff;
    transition: .6s;
}
.contact .contact-form form button:hover{
    background-color: #6EBD97;
    color: #fff;
}
.contact-details{
    height: 100%;
}
.contact-details .meet-up-top{
    height: 50%;
    background-color: transparent;
    padding: 40px;
    border: 1px solid #6EBD97;
    border-radius: 10px;
}
.contact-details .meet-up-top h2{
    color: #fff;
}
.contact-details .meet-up-top .ct-address{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.contact-details .meet-up-top .ct-address a{
    color: #fff;
}
.contact-details .meet-up-top .ct-address a i{
    color: #6EBD97;
    margin-right: 10px;
}
.contact-details .meet-up-buttom{
    height: 50%;
    background-color: transparent;
    padding: 40px;
    border: 1px solid #6EBD97;
    border-radius: 10px;
    margin-top: 20px;
}
.contact-details p {
    margin: 30px 0 0;
}
.contact-details p span{
    background-color: #6EBD97;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px 20px 6px 6px;
}

@media screen and (max-width: 1024px) {
    .header-left{
        display: none;
    }
    .header-right{
        width: 100%;
    }
    .mobile-menu{
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .header-left{
        display: none;
    }
    .left-menu-container{
        display: none;
    }
    .header-right .about-us{
        flex-direction: column;
    }
    .header-right .about-us .user-info{
        margin-top: 20px;
    }
    .header-right .about-us .user-info,
    .header-right .about-us .user-photo{
        width: 100%;
    }
    .header-right .about-us .user-info .user-btn{
        text-align: center;
    }
    .mobile-menu .nav{
        align-items: center;
        justify-content: center;
    }
    .header-right .about-us{
        padding-bottom: 10px;
    }
    .user-f-name {
        flex-direction: column;
    }
    .user-f-name .user-f{
        width: 100%;
    }
    .user-f-name .user-l{
        width: 100%;
    }
    .contact-details .meet-up-top {
        padding: 25px;
        height: auto;
    }
    .contact-details .meet-up-buttom {
        padding: 25px;
        height: auto;
    }
}
@media screen and (max-width: 425px) {
    .header-right .about-us .user-info h1 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .header-right .about-us .user-info h4 span{
        font-size: 22px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .header-right .about-us .user-info p{
        font-size: 14px;
    }
    .header-right .about-us {
        padding: 30px 20px;
    }
    .header-right .about-us .user-info .user-btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-right .about-us .user-info .user-btn a{
        font-size: 14px;
    }
    .mobile-menu .nav {
        justify-content: space-between;
        gap: 16px;
        margin: 0px !important;
    }
    .port-content {
        padding: 20px 10px;
    }
    .blog .blog .blog-content{
        padding: 0px 12px;
    }
    .contact-form{
        margin-top: 30px;
    }
}
@media screen and (max-width: 375px) {
    .header-right .about-us .user-info .user-btn a {
        padding: 10px 16px;
    }
    .mobile-menu .nav {
        gap: 0px;
    }
    .mobile-menu .nav li a {
        width: 45px;
        height: 45px;
    }
    .header-right .about-us .user-info h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .header-right .about-us .user-info h4 span{
        font-size: 20px;
    }
    .header-right .about-us .user-info p{
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .header-right .about-us .user-info .user-btn a {
        padding: 10px 12px;
        font-size: 12px;
    }
    .mobile-menu .nav li a {
        width: 40px;
        height: 40px;
    }
    .mobile-menu .nav li a i {
        font-size: 14px;
    }
    .port-content {
        padding: 10px;
    }
}